<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Skeleton APP</ion-title>
    <h6>{{ subtitle }}</h6>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-title size="large">Bienvenido!</ion-title>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-input type="text" [(ngModel)]="nombre" minlength="3" maxlength="20"label="Nombre" [(ngModel)]="nombre" label-placement="floating" fill="solid" counter="4" placeholder="Enter text" counter="4"></ion-input>
<br />
<ion-input label="Password" [(ngModel)]= "password" label-placement="floating" fill="outline" type="password" placeholder="Enter text"></ion-input>
<ion-button (click)="Redirigir()">Ingresar</ion-button>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Crea tu cuenta gratis</ion-label>
      <ion-router-link routerLink="home">Ir</ion-router-link>
    </ion-item>
  </ion-list>
</ion-content>
  <ion-header collapse="condense">


  </ion-header>
</ion-content>
