<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      skeletonAPP

    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>

    </ion-toolbar>
  </ion-header>
  <div class="ion-text-center">
    <h1>{{ title }}</h1>
  </div>
  Usuario : {{ nombre }}
  <div class="ion-text-center">
    <h6>{{ subtitle }}</h6>
  </div>
  <ion-item>
    <ion-label slot="start">Nombre:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Apellido:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Nivel Educacíonal:</ion-label>
    <ion-input></ion-input>
    <ion-item>
      <ion-select label="Seleccíone Nivel" placeholder="">
        <ion-select-option value="1">Nivel de Educación Parvularia</ion-select-option>
        <ion-select-option value="2">Enseñanza Básica</ion-select-option>
        <ion-select-option value="3">Enseñanza Media</ion-select-option>
        <ion-select-option value="4">Educación Técnico-Profesional </ion-select-option>
        <ion-select-option value="5">Institutos Profesionales</ion-select-option>
        <ion-select-option value="6">Universidades</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-item>
</ion-content>