<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      skeletonAPP

    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>

    </ion-toolbar>
  </ion-header>
  <div class="ion-text-center">
    <h1>{{ title }}</h1>
  </div>
  Usuario : {{ nombre }}
  <div class="ion-text-center">
    <h6>{{ subtitle }}</h6>
  </div>
  <ion-item>
    <ion-label slot="start">Nombre:</ion-label>
    <ion-input [(ngModel)]=" nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Apellido:</ion-label>
    <ion-input [(ngModel)]="apellido"></ion-input> 
  </ion-item>
  <ion-item>
    <ion-label slot="start">Nivel Educacíonal:</ion-label>
    <ion-input></ion-input>
    <ion-item>
      <ion-select label="Seleccíone Nivel" placeholder="">
        <ion-select-option value="1">Nivel de Educación Parvularia</ion-select-option>
        <ion-select-option value="2">Enseñanza Básica</ion-select-option>
        <ion-select-option value="3">Enseñanza Media</ion-select-option>
        <ion-select-option value="4">Educación Técnico-Profesional </ion-select-option>
        <ion-select-option value="5">Institutos Profesionales</ion-select-option>
        <ion-select-option value="6">Universidades</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-item>
 
  <ion-item>
    <ion-label>Fecha de Nacimiento:</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="fechaNacimiento"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Fecha de Nacimiento</ion-label>
    <br>
    <ion-datetime-button datetime="datetime" displayFormat="DD/MM/YYYY"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      
    </ion-modal>
  </ion-item>
  
  <ion-button (click)="getFechaNacimiento()">Mostrar Fecha de Nacimiento</ion-button>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>Limpiar</ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button>Mostrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  
</ion-content>
<ion-button id="click-trigger">Mostrar</ion-button>
<ion-popover trigger="click-trigger" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">Su nombre es: {{nombre}} {{apellido}}</ion-content>
  </ng-template>
</ion-popover>
<ion-footer>
  <ion-toolbar>
    <ion-title>App Desarrollada por: @RodrigoUlloa</ion-title>
  </ion-toolbar>
</ion-footer>